<!doctype html>
<html lang="pt-br">

<head>
    <title>Jogo da Velha</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body { margin-top: 3em; }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Jogo da velha</h1>
            <p class="lead">Informe seu nome</p>
            <form id="form" action="#">
                <div class="form-group">
                    <input type="text" id="nome" name="nome" class="form-control form-control-lg"
                           required autocomplete="off" placeholder="Nome de usuário">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">
                    Entrar no jogo
                </button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
      const form = document.getElementById("form")
      const name = document.getElementById("nome")
      form.onsubmit = (e) => {
        e.preventDefault()
        if (name.value.length) {
          sessionStorage.setItem("username", name.value)
          location.href = "/jogo"
        }
      }
    </script>
</body>
</html>
